@{
    ViewBag.Title = "Contact";
}

<div class="content">
    <h1>Služby a aktivity v okolí</h1>    
</div>

<div class="content">
    <h2>V zime</h2>
    <table>
        <tr>
            <td>
                <img src="~/Images/zima.jpg" width="300"/>
            </td>
            <td>
                <p>
                    Najnavštevovanejšie centrum pre zimné športy je stredisko Vrátna, ktoré sa nachádza približne 10km od chaty. 
                    Je to jedno z najlepších lyžiarskych stredísk v strednej Európe Vrátna Free Time Zone.18 zjazdoviek v dĺžke 14km, 
                    15 vlekov, 1 lanovka, 1 kabínka s celkovou kapacitou skoro 11500 osôb za hodinu Vám ponúkajú výborné podmienky pre zjazdové 
                    lyžovanie, snowboarding či freeride. Za zmienku stoja aj nádherné zamrznuté Diery či množstvo prechádzok prekrásnou 
                    terchovskou zimnou scenériou.Príďte sa pozrieť na preteky konských vozov, psích záprahov 
                    či niekoľko pretekov ako napríklad európsky pohár v snowboardingu. 
                    Viac informácií o ponúkaných službách v danom centre nájdte na ich stránke www.vratna.sk
                </p>
            </td>
        </tr>
    </table>
</div>

<div class="content">
    <h2>V lete</h2>
    <table>
        <tr>
            <td><img src="~/Images/leto.jpg" width="300" /></td>
            <td>
                <p>
                    Stredisko Vrátna sa dá využiť aj na letnú turistiku. Je tam veľa turistických chodníkov. 
                    Ďalej sú veľmi navštevované takzvané Jánošíkové diery, ktoré sa nachádzajú 5km od Terchovej. Sú súčasťou oblasti Veľkého Rozsutca (1609 m), 
                    ktorý je národnou prírodnou rezerváciou a tvoria ich tri ucelené časti: Dolné, Horné a Nové Diery. 
                    Prechod najatraktívnejšími časťami Dolných a Nových dier umožňuje 2-hodinový náučný chodník so začiatkom pri hoteli Diery. 
                    Tú najkrajšiu časť však tvoria Horné diery s najväčším počtom vodopádov a rebríkov, ktoré Vás dovedie až do sedla Medzirozsutce. 
                    V Jánošíkových dierach sa nachádza spolu až dvadsať prekrásnych vodopádov, bizarné skalné útvary, 
                    ktoré spolu vytvárajú špecifickú klímu pre domov viacerých zaujímavých rastlinných a živočíšnych druhov.
                </p>
            </td>
        </tr>
    </table>
</div>

<div class="content">
    <h2>Kultúra</h2>
    <table>
        <tr>
            <td><img src="~/Images/oravsky_hrad.jpg" width="300" /></td>
            <td>
                <p>
                    Urobte si výlet na niektorý z romantických hradov v okolí Malej Fatry alebo navštívte historickú kysuckú železnicu 
                    alebo sa vydajte na raft po rieke Orave, poprípade navštívte nové terchovské relaxačné centrum s bazénom, výrivkami, 
                    saunami či bowlingom. Ďalej Vám obec terchová ponúka rôzne podujatia počas celého raka, 
                    Vrátna a brána do Vrátnej dedina Terchová Vám ponúkajú naozaj veľa možností na príjemnú dovolenku.
                </p>
            </td>
        </tr>
    </table>
</div>