@{
    ViewBag.Title = "Contact";
}



<div class="content">
    <h2>Kontakt</h2>
    <center>
        <p>
            Ing. Jaroslav Mažgút
            <br />
            tel.číslo: + 421 918 180 060
            <br />
            email: mazgut.jaroslav@gmail.com
            <br />
        </p>
    </center>
</div>

<div class="content">
    <h2>Ako sa k nám dostanete</h2>
    <center>
        <p>
            <b>Autom:</b>     Smerom zo Žiliny po ceste 583, za obcou Belá je potrebné odbočiť vľavo na smer Stará Bystrica. Po 100 m odpočiť vpravo pred budovou Technických služieb. Ďalej pokračovať 1km po poľnej ceste až k poslednej chate.<br />
            <b>Autobusom:</b> Vystúpiť na autobusovej zastávke Belá - Mažgútovie, potom 10 min pešo smerom na chatu <br />
            <b>Vlakom:</b>    sa nedá :)
            <br />
        </p>
    </center>
</div>

<div class="content">
    <h2>Mapa</h2>
</div>

<center>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3zBZ8FqhVLpInldTwavWMVjCqpmgLbg8&sensor=false"></script>
    <script type="text/javascript" src="http://www.map-generator.org/map/iframejs/86f10f03-b5de-4dc7-a532-d79a7ea70dfc?key=AIzaSyA3zBZ8FqhVLpInldTwavWMVjCqpmgLbg8&width=1200px&height=400px"></script>

    <div id="mapid-86f10f03-b5de-4dc7-a532-d79a7ea70dfc"></div>
    <br />
    <a href="http://www.map-generator.org/86f10f03-b5de-4dc7-a532-d79a7ea70dfc/large-map.aspx">Zväčšiť mapu</a>
</center>


