@{
    ViewBag.Title = "Images";
}

<div class="content">
    <p>
        Centrom chaty je <strong>spoločenská miestnosť</strong>, ktorá je prepojená s
        jednolôžkovou izbou a kuchyňou s jedálňou. V miestnosti sa nachádza krb.
    </p>

</div>
<div class="content_image">
    <img src="/Images/obyvacka_1024.jpg"></img>
</div>
<div class="content">
    <p>
        Kuchyňa je vybavená bežnými elektrospotrebičmi ako je
        mikrovlnná rúra, rýchlovarná kanvica, chladnička s mrazničkou a plynový sporák.
    </p>
</div>
<div class="content_image">
    <img src="/Images/kuchyna_1920.jpg"></img>
</div>
<div class="content">
    <p>
        Na prízemí sa ešte nachádzajú dve kúpeľne jedna s boilerom na
        drevo a vaňou + wc, umývadlo, práčka.
        Druhá so sprchou na elektrický boiler + wc.
    </p>
</div>

<div class="content_image">
    <img src="~/Images/wc_vana.jpg"></img>
</div>

<div class="content">
    <p>
        Na poschodí sa nachádzajú štyri izby: 2 lôžková, 2 lôžková, 3 lôžková, 5 lôžková.
    </p>
</div>

<div class="content_image">
    <img src="/Images/2lozkova_izba_1920.jpg"></img>
</div>
<br />
<br />
<div class="content_image">
    <img src="/Images/2lozkova_izba2_1920.jpg"></img>
</div>
<br />
<br />
<div class="content_image">
    <img src="/Images/3lozkova_izba_1920.jpg"></img>
</div>


<div class="content">
    <p>
        Pred chatou je umiestnený altánok s letnou kuchynkou a grilom.
        Taktiež sa tam nachádza ohnisko, okolo ktorého sú lavičky na príjemné večerné opekanie alebo
        varenie gulášu.
    </p>
</div>
<div class="content_image">
    <img src="/Images/altanok_1920.jpg"></img>
</div>
